* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

# Aset minified dapat memuat spasi bermakna di dalam template literal.
/public/build/** -whitespace

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
